@model bookpapp.webui.Models.Product

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Product</title>
</head>
<body>
    <p>ürün adı: @Model.Name</p>
    <p>ürün fiyat: @Model.Price</p>
    <p>ürün açıklama: @Model.Description</p>
</body>
</html> 